.contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.contenedores {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.contenedor-options {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contenedor-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.optionBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.mat-label {
  font-weight: bold;
  margin-right: 15px;
}

input {
  width: 100%;
}

.formfield {
  width: 90%;
}

.btnGenerar {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    width: 100%;
    display: block;
    margin-top: 15px;
  }
}

.colorpicker {
  border-radius: 40px;
  width: 30px;
  height: 30px;
  margin: 10px
}

.qr {
  margin-left: 50px;
  max-width: 350px; 
  max-height: 350px;
  display: flex;
}

.spinner {
  margin-left: 50px;
  max-width: 350px; 
  max-height: 350px;
  display: flex;
}


@media (max-width: 768px) {
  .contenedores {
    flex-direction: column;
    align-items: center;
    margin-top: 25%;
  }

  .contenedor {
    width: 100%;
  }

  .qr{
    margin-left: 0px;
    width: 100%;
    margin-top: 10%;
  }

  .spinner{
    margin-left: 0px;
    width: 100%;
    margin-top: 40%;
  }
  .optionBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
