<div [@fadeAnimation] class="contenedor-principal">
 <div class="el" style="padding: 0%;">
  <h1 style="margin: 0 0 0 15%"><b>Generador QR</b></h1>
 </div>
  <div class="contenedores">
    <div class="contenedor">
      <div class="el">
      <mat-label>URL</mat-label>
        <mat-form-field class="el" style="height: 70px;">
          <input matInput [(ngModel)]="url">
        </mat-form-field>
      </div>

      <div class="el">
        <mat-label>Tipo de QR</mat-label>
        <br>
        <mat-radio-group [(ngModel)]="type" >
          <mat-radio-button [value]="1">Estándar</mat-radio-button>
          <mat-radio-button [value]="2">Punteado</mat-radio-button>
        </mat-radio-group>

        <mat-label style="margin-left: 15%;">Selecciona un color:</mat-label>
        <input [(colorPicker)]="color" [style.background-color]="color" readonly style="width:  50px; height: 50px; margin-left: 2%; border: none; border-radius: 10px;">

      </div>

      <!--
      <div class="el">
        <mat-label>Color</mat-label>
        <br>
        <br>
        <input [(colorPicker)]="color" [style.background-color]="color" readonly style="width:  50px; height: 50px;">
      </div>

    -->

      <br>
      <div class="el">
        <button mat-raised-button color="accent" (click)="generarQR()" style="margin-left: 40%; margin-top: 5px;">Generar</button>
      </div>



    </div>
    <div class="contenedor">
      <div class="el-img">
        <mat-spinner color="accent" style="margin-left: 20%; margin-top: 15%; width: 10%;" *ngIf="isLoading"></mat-spinner>
        <img [src]="image"  width="300">
      </div>
    </div>
  </div>
</div>
