<div [@fadeAnimation] class="contenedor-principal">
 <div class="el" style="padding: 0%;">
  <h1 style="margin: 0 0 0 15%"><b>Generador QR</b></h1>
 </div>
  <div class="contenedores">
    <div class="contenedor">
      <div class="el">
      <mat-label>URL</mat-label>
        <mat-form-field class="el" style="height: 70px;">
          <input matInput [(ngModel)]="url" maxLength="500">
        </mat-form-field>
      </div>

      <div class="el">
        <mat-label>Tipo de QR</mat-label>
        <br>
        <mat-radio-group [(ngModel)]="type" class="radiobtn" >
          <mat-radio-button [value]="1">Estándar</mat-radio-button>
          <mat-radio-button [value]="2">Punteado</mat-radio-button>
        </mat-radio-group>

        <div class="colorpicker-div">
          <mat-label class="colorpicker-label">Selecciona un color:</mat-label>
          <input [(colorPicker)]="color" [style.background-color]="color" readonly class="colorpicker">
        </div>
      </div>

      <br>
      <div class="el-button">
        <button mat-raised-button color="accent" (click)="generarQR()" class="btnGenerar">Generar</button>
      </div>



    </div>
    <div class="contenedor">
      <mat-spinner color="accent" class="spinner" *ngIf="isLoading"> <!--*ngIf="isLoading" -->
      </mat-spinner>
       <div class="el-img">
        <img [src]="image"  class="qr" >
      </div>
    </div>
  </div>
</div>
