.contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5% 0 0 0;
}

.contenedores {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.contenedor {
  width: 48%;
  text-align: right;
  padding: 10px;
}

.el {
  width: 100%;
  text-align: left;
  padding: 5px;
}

.el-img {
  width: 100%;
  text-align: left;
  padding: 0 0 0 40%;
}

input {
  width: 100%;
  margin-bottom: 10px;
}

.colorpicker-label{
  width: 80%;
}

.colorpicker{
  //margin-left: 20%;
  border: none;
  border-radius: 10px;
  margin-top: 5%;
  //width: 30%;
  height: 50px;
}

.colorpicker-div{
  margin-left: 50%;
  margin-top: -12%;
  display: flex;
}

.el-button{
  //margin-left: 30%;
  display: flex;
}

.btnGenerar{
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
}

.spinner{
  margin-left: 60%;
  margin-top: 15%;
  width: 10%;
}

.qr{
  width: 300px;
}

@media screen and (max-width: 1200px) {


  .radiobtn{
    display: grid;
  }

  .colorpicker-label{
    //margin-left: 15%;
    display: table;
  }

  .colorpicker{
    margin-left: 20%;
    border: none;
    border-radius: 10px;
    margin-top: 5%;
    width: 70%;
    height: 20px;
  }

  .colorpicker-div{
    margin-left: 50%;
    margin-top: -23%;
    align-items: center;
  }

  .el-button{
    margin-top: 10px;
  }

}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .contenedor-principal {
    margin: 10% 0;
  }

  .radiobtn{
    display: flex;
    margin-bottom: 10%;
  }

  .contenedores {
    flex-direction: column;
  }

  .contenedor {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .el {
    width: 100%;
    text-align: left;
    padding: 5px;
  }

  .el-img {
    padding: 0;
    margin-bottom: 20%;
    text-align: center;
  }

  .el-button{
    margin-top: 5px;
    margin-left: -5%;
    display: block;
  }

  .colorpicker-div{
    margin-top: 5%;
    margin-left: 0%;
  }

  .colorpicker-label{
    margin-left: 4%;
  }

  .colorpicker{
    margin-top: -5%;
    margin-left: -25%;
    width: 50px;
    height: 50px;
  }

  .spinner{
    margin-top: 35%;
    margin-left: 30%;
    width: 30px;
    height: 30px;
  }

  .qr{
    width: 200px;
    margin-left: -25px;
  }

  .btnGenerar{
    width: 300px;
    height: 50px;
    font-size: 20px;
  }
}
