.contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5% 0 0 0;
}

.contenedores {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.contenedor {
  width: 48%;
  text-align: right;
  padding: 10px;
}

.el {
  width: 100%;
  text-align: left;
  padding: 5px;
}

.el-img {
  width: 100%;
  text-align: left;
  padding: 0 0 0 40%;
}

input {
  width: 100%;
  margin-bottom: 10px;
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .contenedor-principal {
    margin: 10% 0;
  }

  .contenedores {
    flex-direction: column;
  }

  .contenedor {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .el-img {
    padding: 0;
  }
}
