  <div [@fadeAnimation] class="contenedor-principal">
    <div class="contenedores">
      <div class="contenedor-options">
        <div>

          <div>
            <mat-label class="mat-label" style="justify-content: left;">URL</mat-label>
              <mat-form-field class="formfield">
                <input matInput [(ngModel)]="url" maxLength="500">
              </mat-form-field>
          </div>
          
          <div class="optionBox">
            <div class="qrStyleSelector">
              <mat-label class="mat-label">Estilo de QR</mat-label>
              <mat-radio-group [(ngModel)]="type" >
                <mat-radio-button class="radiobtn" [value]="1">Estándar</mat-radio-button>
                <mat-radio-button class="radiobtn" [value]="2">Punteado</mat-radio-button>
              </mat-radio-group>
            </div>

            <div>
              <mat-label class="mat-label" style="margin-right: 0!important;">Seleccionar color:</mat-label>
              <input [(colorPicker)]="color" [style.background-color]="color" readonly class="colorpicker">
            </div>
          </div>  
          
        </div>

        <div class="btnGenerar">
          <button mat-raised-button color="accent" (click)="generarQR()">Generar</button>
        </div>
          
      </div>

      <div class="contenedor-img">
        <mat-spinner color="accent" class="spinner" *ngIf="isLoading"> <!--*ngIf="isLoading" -->
        </mat-spinner>
        <img [src]="image"  class="qr">
      </div>

    </div>
  </div>
