<div>
  <mat-toolbar style="background-color: white; width: 90%; display: flex; justify-content: space-between; margin-top: 15px;">
    <div style="display: flex; align-items: left;">
      <img src="./assets/images/qrcode-solid.svg" class="icon-qr"> <b>QR Gen</b>
    </div>
    <div style="display: flex; align-items: right;">
      <button mat-button [routerLink]="['']">Inicio</button>
      <button mat-flat-button color="accent" [routerLink]="['/qrgen']">Generar QR</button>
    </div>
  </mat-toolbar>
</div>
