body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.contenedor-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 140px);
  width: 100%;
  margin: 0;
  padding: 0;
}

.contenedores {
  max-width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-icono {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.titulo {
  font-size: 3.5rem;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-left: 35px;
}

.icon img {
  width: 200px;
  height: auto;
}

/* Estilos para responsive */
@media (max-width: 768px) {
  .titulo-icono {
    flex-direction: column;
  }

  .titulo {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

//Animaciones
@keyframes fadeInR {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInT {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.titulo {
  animation: fadeInR 0.5s ease-out;
}
.icon img {
  animation: fadeIn 0.5s ease-out;
}
@media (max-width: 768px) {
  .icon img {
    animation: fadeIn 0.5s ease-out;
  }
  .titulo {
    animation: fadeInT 0.5s ease-out;
  }
}